{minimum_otp_vsn, "25"}.
{erl_opts, [debug_info]}.

{deps, []}.

{project_plugins, [rebar3_ex_doc, rebar3_hex]}.

{hex, [{doc, #{provider => ex_doc}}]}.

{ex_doc, [
    {extras, [
        {'CHANGELOG.md', #{title => <<"Changelog">>}},
        {'README.md', #{title => <<"Overview">>}},
        {'LICENSE', #{title => <<"License">>}}
    ]},
    {main, <<"readme">>},
    {homepage_url, <<"https://github.com/codeadict/gen_http_parser">>},
    {source_url, <<"https://github.com/codeadict/gen_http_parser">>},
    {api_reference, false}
]}.
