{erl_opts, [
    debug_info,
    report_warnings,
    {warn_format, 1},
    warn_export_vars,
    warn_unused_vars,
    warn_obsolete_guard,
    warn_unused_import,
    warn_missing_spec,
    warn_untyped_record
]}.

{deps, []}.

{project_plugins, [rebar3_ex_doc, rebar3_hex, rebar3_proper]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{profiles, [
    {test, [
        {erl_opts, [
            nowarn_untyped_record,
            nowarn_missing_spec
        ]},
        {deps, [{proper, "1.4.0"}]}
    ]}
]}.

{hex, [{doc, #{provider => ex_doc}}]}.

{ex_doc, [
    {extras, [
        {'CHANGELOG.md', #{title => <<"Changelog">>}},
        {'README.md', #{title => <<"Overview">>}},
        {'LICENSE', #{title => <<"License">>}}
    ]},
    {main, <<"readme">>},
    {homepage_url, <<"https://github.com/codeadict/gen_http_parser">>},
    {source_url, <<"https://github.com/codeadict/gen_http_parser">>},
    {api_reference, false}
]}.

{alias, [
    {test, [
        eunit, proper, {cover, "-v"}
    ]}
]}.
